data/
largeData/
fulldata/
output/
__pycache__/
otherStuff.py
*.zip
.idea/
localMain.py
interdata/
archivedFiles/
localMethods.py
predictsaldoextra.py
main2.py
testing_outputs/maximization_results10march1100.pdf
main_reserve.py
