data/
largeData/
fulldata/
output/
testing_outputs/
__pycache__/
*.zip
.idea/
otherStuff.py
localMain.py
interdata/
archivedFiles/
localMethods.py
predictsaldoextra.py
main2.py
testing_outputs/maximization_results10march1100.pdf
main_reserve.py
main_reserve_2.py
generatedata.py
test_set.py
store.pckl